@model RegisterViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Rejestracja</title>
</head>
<body>
    <form method="post" asp-action="register" class="form-group">
        <label>Imię</label>
        <input asp-for="FirstName" placeholder="FirstName" />
        <label>Email</label>
        <input asp-for="Email" placeholder="Email" />
        <label>Password</label>
        <input type="password" asp-for="Password" placeholder="Hasło" />
        <label>Number pesel</label>
        <input asp-for="Pesel" placeholder="Pesel" />
        <select asp-for="UserType" asp-items="@Html.GetEnumSelectList<UserTypeEnum>()"></select>
        <button type="submit" class="btn btn-primary">Zarejestruj się</button>
    </form>
    @if (ViewData["Wait"] != null)
    {
        <h3 class="alert alert-danger">@ViewData["Wait"]</h3>
    }
</body>
</html>