@model UserRoleViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Nadaj uprawnienia</title>
    <link href="~/css/form-style.css" rel="stylesheet" />
</head>
<body>
    <h2 class="text-center bg-light" style="margin-top:5%;">Nadaj uprawnienia</h2>
    <form id="contact-form" name="contact-form" method="post" asp-action="AddToRole">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" asp-for="UserEmail" placeholder="Email użytkownika" class="form-control">
                    </div>
                    <span asp-validation-for="UserEmail" class="text-danger"></span>

                </div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" asp-for="RoleName" placeholder="Nazwa uprawnienia" class="form-control">
                    </div>
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <button type="submit"class="btn btn-primary float-right">Nadaj</button>
        </form>
        @if (ViewData["Success"] != null)
        {
            <h3 class="alert alert-primary">@ViewData["Success"]</h3>
        }
        @if (ViewData["Error"] != null)
        {
            <h3 class="alert alert-danger">@ViewData["Error"]</h3>
        }
</body>
</html> 