
@model GradeViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Stwórz ocenę</title>
    <link href="~/css/grade-style.css" rel="stylesheet" />
</head>
<body>
    <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5 user-input">
            <h2 class="text-center bg-light" style="margin-top:3%;color:black;">Dodaj Ocenę</h2>
            <form name="contact-form" method="post" asp-action="CreateGrade">
                <!--Grid row-->

                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                </div>
                                <input type="datetime-local" asp-for="Date" class="form-control">
                            </div>
                            <span asp-validation-for="Date" class="text-danger"></span>

                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" asp-for="LessonId" placeholder="Id lekcji" class="form-control">
                            </div>
                            <span asp-validation-for="LessonId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" asp-for="StudentId" placeholder="Id studenta" class="form-control">
                            </div>
                            <span asp-validation-for="StudentId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <div class="input-group form-group">
                                <input style="margin-right:2.5%;" type="checkbox" asp-for="IsFinalGrade" />
                                <label class="text-info">Jest to ocena końcowa?</label>
                            </div>
                        </div>
                    </div>
                </div>
                <select class="custom-select" asp-items="@Html.GetEnumSelectList<RatingEnum>()" asp-for="Rating"></select>
                <div class="form-group create-user-button">
                    <input type="submit" value="Stwórz" style="margin-top:3%;" class="btn float-right btn-primary">
                </div>
            </form>
        </div>
    </div>
    @if (ViewData["Success"] != null)
    {
        <h3 class="alert alert-danger">@ViewData["Success"]</h3>
    }
    @if (ViewData["Error"] != null)
    {
        <h3 class="alert alert-danger">@ViewData["Error"]</h3>
    }
</body>
</html>