@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Scientia</h1>
    <a class="btn btn-primary" asp-action="Register" asp-controller="Account">Zarejestruj się</a>
    <a class="btn btn-primary" asp-action="Login" asp-controller="Account">Posiadam konto</a>
    <a class="btn btn-primary" asp-action="GetRole" asp-controller="Admin">Zobacz uprawnienia</a>
    <a class="btn btn-primary" asp-action="CreateRole" asp-controller="Admin">Utwórz uprawnienia</a>
    <a class="btn btn-primary" asp-action="GetUser" asp-controller="Admin">Zobacz użytkowników</a>
    <a class="btn btn-primary" asp-action="CreateUser" asp-controller="Admin">Utwórz użytkowników</a>
    <a class="btn btn-primary" asp-action="AddToRole" asp-controller="Admin">Nadaj uprawnienia</a>
    <a class="btn btn-primary" asp-action="GetSubject" asp-controller="Admin">Pokaż przedmioty</a>
    <a class="btn btn-primary" asp-action="CreateSubject" asp-controller="Admin">Stwórz przedmiot</a>
    <a class="btn btn-primary" asp-action="CreateClassGroup" asp-controller="Admin">Stwórz klase</a>
    <a class="btn btn-primary" asp-action="GetClassGroup" asp-controller="Admin">Pokaż klasy</a>
    <a class="btn btn-primary" asp-action="GetLesson" asp-controller="Admin">Pokaż Lekcje</a>
    <a class="btn btn-primary" asp-action="CreateLesson" asp-controller="Admin">Stwórz Lekcje</a>
    <a class="btn btn-primary" asp-action="CreateGrade" asp-controller="Admin">Stwórz Ocene</a>
    <a class="btn btn-primary" asp-action="GetGrade" asp-controller="Admin">Zobacz Oceny</a>
</div>
