<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Wystąpił Błąd</title>
    <link href="~/css/form-style.css" rel="stylesheet" />
</head>
<body>
    <h2 style="margin-top:5%;" class="text-center alert alert-danger">Wystąpił błąd. Pracujemy nad jego usunięciem.<br /> Spróbuj ponownie później</h2>
    <hr />
    <h3 style="margin-top:5%;" class="text-center alert alert-danger">Wiadomość: @ViewBag.ExceptionMessage</h3>
    <h3 style="margin-top:5%;" class="text-center alert alert-danger">Ścieżka: @ViewBag.ExceptionPath</h3>
    <h6 style="margin-top:5%;color:white;">Trace: @ViewBag.StackTrace</h6>

</body>
</html>      
